    body {
        background-image: url(matt.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    
    p {
        color: rgb(230, 106, 5);
    }